.container {
    height: 800px;

    :global( .leaflet-container ) {
        background: #000;
    }

    .header {}
    .content {
        display: flex;
        height: 100%;
        flex-flow: row nowrap;

        .main {
            flex: 1 0 100%;
            height: 100%;
        }

        .aside {
            flex: 0 1 0;
        }
    }
    .footer {}
}
